.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-basis: 90%;
  align-items: center;
}
.container img {
  width: 75%;
  object-fit: cover;
  border-radius: 30px;
}

.container .welcome_description {
  font-family: Source Serif Pro, sans-serif;
  font-size: 20px;
  width: 75%;
}

.welcome_start {
  margin: 10px 0;
  width: 75%;
}
.container__btn {
  width: 100%;
  margin: 10px 0;
  display: flex;
  justify-content: center;
}
