.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-basis: 90%;
    align-items: center;
}
.container img {
    width: 700px;
    height: 1000px;
    object-fit: cover;
    border-radius: 30px;
    
}

.container .welcome_description {
    font-family: Source Serif Pro, sans-serif;
    font-size: 20px;
  }
  
  .welcome_start {
      margin: 10px 0;
      width: 700px;
  }

  .container .welcome_description {
      max-width: 700px;
  }