body {
  margin: auto;
  line-height: 1.5;
  font-family: "PT Sans", Calibri, Tahoma, sans-serif;
  background-color: #e2e2e2;
}

.topnav {
  width: 100%;
  overflow: auto;
  background-color: rgb(31, 31, 31);
  top: 0;
  position: fixed;
}

.topnav a {
  float: left;
  text-align: center;
  padding: 20px;
  text-decoration: none;
  color: white;
  font-size: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.topnav a:hover {
  background-color: #b9b9b9;
  color: white;
}

.topnav a.active {
  background-color: #1c83b3;
  color: white;
}

.header {
  margin-top: 30px;
  margin-bottom: 5px;
  padding: 5px 10;
}

.gallery {
  margin: auto 15px 20px;
  float: left;
}

.gallery img {
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 300px;
  height: 300px;
  object-fit: cover;
  border: auto;
}
.gallery img:hover {
        transform: scale(1.05);
        transition-timing-function: ease;
}

.desc {
  padding: 5px;
  text-align: center;
  font-weight: bold;
}

.content {
  text-align: center;
  margin: 20px 0 0;
  float: left;
  padding: 15px;
}

.content img {
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 500px;
  height: 500px;
  object-fit: cover;
  border: auto;
  float: center;
}

.back {
    text-align: center;
    color: white;
    padding: auto;
    font-size: 16px;
    cursor: pointer;
}